{% extends 'base.html' %}
{%block title%}
Change Password
{% endblock %}
{% block contact %}
<div class="site-section py-0">
    <div class="site-section">
        <div class="container">
<div class="row pd-5">
    <div class="col-md-12">
            <h1>Change Password</h1>
            <form action="" method="POST">
   
                
                    {%csrf_token %}
                    <div class="mb-3">
                        <input type="password" name="old_password" class="form-control" placeholder="Old Password" required  >
                    </div>
                    <div class="mb-3">    
                        <input type="password" name="new_password1" class="form-control"placeholder=" New Password" required  >
                    </div>
                    <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
                    <div class="mb-3">
                        <input type="password" name="new_password2" class="form-control" placeholder=" New Password confirmation" required >
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
    
        </form>
        </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}