{% extends 'base.html' %}
{%block title%}
Edit Profile Page
{% endblock %}
{% block contact %}
<div class="site-section py-0">
    <div class="site-section">
        <div class="container">
            <div class="row pb-5">
                <div class="col-md-12">
                    {% if user.is_authenticated %}

                      {%if user.id == profile.user_id%}
                    <h1>Edit Profile Page .........!</h1>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="form-group">

                            {%csrf_token %}
                            {{form.as_p}}

                            <button class="btn btn-success">Upadted Profile Page</button>

                        </div>
                    </form>

                    
                    {%else%}
                    <h1> You are not  right user allowed here !</h1>

                    {%endif%}
                    {%else%}
                    <h1> You are not allowed here !</h1>

                    {%endif%}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}