<!doctype html>
<html lang="en">

<!-- head section  -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- title section   -->
  <title>
    {%block title%}
    {%if title%}
    {{title}}
    {%else%}
    Django Blog mark-2
    {%endif%}
    {%endblock%}
  </title>

  <!-- end title section   -->
</head>

<!-- end head section  -->

<body>

  <!-- navbar section  -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top pt-2  pb-auto" style="background-color: #f84a87;">
    <div class="container ">

      <!-- logo section  -->
      <a class="navbar-brand" href="/">Django Blog mark-2</a>
      <!-- end logo section  -->


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- menu section  -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

          <!-- category section  -->
          {%if cate_menu %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%for items in cate_menu %}
              <li><a class="dropdown-item" href="{% url 'category' items %}">{{items}}</a></li>
              {%endfor%}

            </ul>
          </li>
          {%endif%}

          <!-- category section  -->

          <!-- user  authenticated section  -->

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="/add_post" class="nav-link">Add post</a>

          </li>
          <li class="nav-item">
            <a href="/add_category" class="nav-link">Add Category</a>
          </li>

          <!-- user profile  -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {%if user.first_name%}

              {{user.first_name}}
              {%else%}
              {{user.username}}
              {%endif%}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">


              {% if user.profile.id %}
              <li><a class="dropdown-item" href="{%url 'profile_page' user.profile.id%}">Show Profile</a></li>


              <li><a class="dropdown-item" href="{%url 'edit_profile_page' user.profile.id %}"> Edit profile page</a>
              </li>


              {%else%}
              <li><a class="dropdown-item" href="{%url 'create_profile_page' %}"> Create profile page</a></li>
              {%endif%}
              <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Setting</a></li>
              <li><a href="{% url 'logout' %}" class="dropdown-item">Logout</a></li>

            </ul>
          </li>
          <!-- user profile  -->

          {% else %}
          <li>
            <a href="{% url 'register' %}" class="nav-link ">Register</a>
          </li>
          <li>
            <a href="{% url 'login' %}" class="nav-link ">login</a>
          </li>
          {% endif %}

        </ul>
        <!-- end  user  authenticated section  -->

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <!-- end menu section  -->
    </div>
  </nav>

  <!-- end  navbar section  -->

  <!-- block contact  -->
  <div class="container py-md-2">
    <div class="row">
      <div class="col-md-12">
        {% block contact %}
        {% endblock %}
      </div>
    </div>
  </div>
  <!-- end block contact  -->

  <!-- Footer  -->

  <div class="footer fixed-bottom pt-2" style="background-color: #f84a87;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copyright">
            <p style="color: #ffffff;">

              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved Django Blog mark-2

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Footer  -->


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous">
  </script>


</body>

</html>